$max-width: 940px;


$white: #fff;
$green: #00a651;
$red: #a60000;
$border_gray: #ababab;
$gray: #e2e2e2;

@import "bourbon";
@import "neat";

@import "_utils/_mixins";
@import "_utils/_reset";

@import "_utils/_utils";
@import "_utils/_form";
@import "_utils/_grid";

body{
	
}